body {
  background-color: #EEE;
  font-family: 'Raleway', sans-serif;
}

a {
  text-align: center;
  padding-right: 16px;
  text-decoration: none;

}
a:hover {
  color: #0abab5;
  opacity: 0.5;
}

#evey img {
  width: 500px; 
  height: 300px;
  object-fit: fill;
  position: relative;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  margin-top: 0px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  left: 81%;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #a6f587;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.flexbox {
  display: flex;
}

.flexContent {
  display: flex;
  justify-content: space-between;
}

#container {
  background-color: white;
  width: 100%;
  max-width: 1000px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  color: white;
  text-align: center;
  background-color:#0abab5;
}

#social {
  margin-left: 15px;
  margin-top: 40px;
}

#about {
  text-align: center;
}

#factsButton {
  font-size: 1.5em;
  font-weight: 600;
  height: 4em;
  width: 10em;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  display: table-cell;
  margin-top: 50px;
  vertical-align: left;
  letter-spacing: -2px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background: linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%););
}

