body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
}
.landing-background {
  width: auto;
  height: 100vh;
  background-color: #bccbde;
}

.big-text {
  font-size: 32px;
  line-height: 30px;
  color: #fff;
}

.highlight {
  color: #e05915;
}

.button {
  border: 2px solid #fff;
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  transition: all 0.4s;
  padding: 12px;
}

.button:hover {
  background-color: #cdd422;
  border-color: #cdd422;
}

.section2 {
  width: auto;
  height: 100vh;
  background-color: #431c5d;
}
.section2 .big-text {
  color: #57de91;
  font-size: 50px;
}

.about-underline {
  height: 5px;
  width: 100px;
  background-color: black;
}

.about-text {
  color: #fff;
  font-size: 20px;
  margin: 40px;
  line-height: 30px;
}

.languages-column,
i {
  padding: 10px;
}

.section3 {
  width: auto;
  height: 100vh;
  background-color: #edbabf;
}

.project-text {
  font-size: 50px;
  color: #baede8;
}

.wrapper {
  width: 275px;
  height: 225px;
  box-shadow: 0px 1px 3px 0px #a0a0a0;
  background-repeat: no-repeat;
  background-size: cover;
  transition: box-shadow 0.3s;
}

.wrapper:hover {
  box-shadow: 0 4px 8px 0 #333;
  background-color: white;
}

.wrapper .label {
  visibility: hidden;
}

.wrapper:hover .label {
  visibility: visible;
  background-color: white;
  width: 275px;
  height: 225px;
  transition: background-color 0.5s;
}

.label {
  text-decoration: none;
  font-size: 20px;
}

.beer__container {
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
}

@-webkit-keyframes bubbles {
  0% {
    visibility: visible;
    transform: scale(0);
    top: 100%;
  }
  15% {
    transform: scale(1);
    top: 100%;
  }
  100% {
    top: -100%;
    transform: translateY(-10%);
  }
}

.beer {
  position: relative;
  overflow: hidden;
  background: #f28e1c;
  /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #c05600 0%,
    #dc7000 21%,
    #e87c00 51%,
    #e87c00 81%,
    #dc7000 100%
  );
  /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, #c05600),
    color-stop(21%, #dc7000),
    color-stop(51%, #e87c00),
    color-stop(81%, #e87c00),
    color-stop(100%, #dc7000)
  );
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    left,
    #c05600 0%,
    #dc7000 21%,
    #e87c00 51%,
    #e87c00 81%,
    #dc7000 100%
  );
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    left,
    #c05600 0%,
    #dc7000 21%,
    #e87c00 51%,
    #e87c00 81%,
    #dc7000 100%
  );
  /* Opera 11.10+ */
  background: -ms-linear-gradient(
    left,
    #c05600 0%,
    #dc7000 21%,
    #e87c00 51%,
    #e87c00 81%,
    #dc7000 100%
  );
  /* IE10+ */
  background: linear-gradient(
    to right,
    #c05600 0%,
    #dc7000 21%,
    #e87c00 51%,
    #e87c00 81%,
    #dc7000 100%
  );
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c05600', endColorstr='#dc7000',GradientType=1 );
  /* IE6-9 */
}

.bubble {
  position: absolute;
  background-color: transparent;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/173991/bubble.png);
  background-size: cover;
  background-position: center center;
  border-radius: 100%;
  opacity: 0.5;
  visibility: hidden;
  filter: blur(1px);
  animation: bubbles 7s infinite;
  z-index: 1;
}

.planner {
  background-image: url('./imageEvey/notetaker.png');
}
.password {
  background-image: url('./imageEvey/passwordgen.png');
}

.small-country {
  font-size: 10px;
}
.weather {
  font-size: 16px;
  text-align: center;
  background-color: #c8ebfb;
}
.weather img {
  height: 50px;
  width: auto;
}

.puzzle {
  background-image: url('https://images.unsplash.com/photo-1494059980473-813e73ee784b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80');
}

.pool {
  background-image: url('https://images.unsplash.com/photo-1452289765185-5df11aa2a706?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1921&q=80');
}

.section-4 {
  background-color: #252934;
  width: auto;
  height: 100vh;
  color: #fff;
}

.section-4 .big-text {
  font-size: 50px;
}

input {
  background: #1e242c;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 12pt;
  margin-bottom: 3px;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

input.button {
  /* height: 30px;
  width: 40px; */
  font-size: 10px;
}

textarea {
  margin-bottom: 5px;
  min-height: 150px;
}
